{%extends "admin/index.html"%}
{%block adminIndexSection%}
	<table class="table table-hover">
	    <tbody>
	    	{%for passage in dust_passages | default([])%}
	    	<tr>
	    		<td>{{passage.title}}</td>
	            <td>{{passage.pubdate}}</td>
	            <td>
	            	<input type="hidden" value="{{passage.id}}">
	            	<span class="glyphicon glyphicon-share-alt pointer" title="恢复"></span>
	            </td>
	    	</tr>
	    	{%endfor%}
	    </tbody>

	</table>
{%endblock adminIndexSection%}