{%extends "admin/layout/admin.html"%}
{% macro get_reports_sum() %}
	{% if reports %}
		{% if reports['sum'] > 0 %}
			<span class="badge">{{reports['sum']}}</span>
		{% endif %}
	{% endif %}
{% endmacro %}
{%block rightCol%}
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" {{site['home']}}><a href="{{url_for('.index')}}">Home</a></li>
  <li role="presentation" {{site['tags']}}><a href="{{url_for('.index_tags')}}">Tags</a></li>
  <li role="presentation" {{site['reports']}}><a href="{{url_for('.reports')}}">Reports{{get_reports_sum()}}</a></li>
  <li role="presentation" {{site['dust']}}><a href="{{url_for('.index_dust')}}">Dust</a></li>
</ul>
<br>
{%block adminIndexSection%}
	<table class="table table-hover">
	    <tbody>
	    	{%for passage in passage_list | default([])%}
	        <tr>
	            <td><a href="{{url_for('index_module.passage')}}?pid={{passage.id}}" class="text-link">{{passage.title}}</a></td>
	            <td><span class="glyphicon glyphicon-tags"></span>
					{%for tag in passage.tags | default([])%}
					<a class="text-link" href="{{url_for('.index')+'?tag='+tag.tag}}">{{tag.tag}}</a>
					{%endfor%}
	            </td>
	            <td>{{passage.pubdate}}</td>
	            <td class="op">
	            	<input type="hidden" value="{{passage.id}}">
	            	{%if passage.is_draft%}
	            	<span class="glyphicon glyphicon-play pointer" title="展示"></span>
	            	{%else%}
	            	<span class="glyphicon glyphicon-stop pointer" title="暂停"></span>
	            	{%endif%}
	            	<span class="glyphicon glyphicon-trash pointer" title="放进回收站"></span>
	            	<span class="glyphicon glyphicon-edit pointer" title="编辑"></span>
	            </td>
	        </tr>
	        {%endfor%}
	    </tbody>

	</table>
{%endblock adminIndexSection%}
{%endblock rightCol%}
{%block footScript%}
	<script src="{{url_for('.static', filename='js/index.js')}}"></script>
{%endblock footScript%}