<!doctype html>
<html>
<title>Hello from Flask</title>
<!--<head>-->
    <!--<link href="../../static/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="../../static/css/bootstrap-theme.min.css" rel="stylesheet">-->
<!--</head>-->
<body>
        {% if error %}
        <h1>{{error}}</h1>
        {% endif %}
<br>
        {% if password %}
        <h1>{{password}}</h1>
        {% endif %}
<br>
        <!--{% if tags %}-->
        <!--<h1>tags are here</h1>-->
        <!--{% endif %}-->
        {% if tags %}
            <h1>tags:{% for tag in tags %}{{tag[0]}}&nbsp;{% endfor %}</h1>
        {% endif %}
<br>
        {% if title %}
        <h1>title:{{title}}</h1>
        {% endif %}
<br>
        {% if content %}
        <h1>content:{{content}}</h1>
        {% endif %}
<br>
        {% if tag %}
        <h1>one tag:{{tag}}</h1>
        {% endif %}
<br>
        {% if id %}
        <h1>passage id:{{id}}</h1>
        {% endif %}

{% if comments %}
        {% for comment in comments[1] %}
        {{comment[1]}}&nbsp;&nbsp;{{comment[3]}}<br>
        {{comment[2]}}<br>
            {% for talk in comment[4] %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{talk[1]}}&nbsp;&nbsp;回复&nbsp;&nbsp;{{talk[2]}}&nbsp;&nbsp;{{talk[4]}}:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{talk[3]}}<br>
            {% endfor %}
        {% endfor %}
{% endif %}
{% if test %}
        <h1>{{test}}</h1>
{% endif %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">

      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">

      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--<script src="../../static/js/jquery-1.11.0.min.js"></script>-->
<!--<script src="../../static/js/bootstrap.min.js"></script>-->
</body>
</html>
