{%extends "layout/base.html"%}
{%block headScript%}
	<link href="{{url_for('.static', filename='css/base.css')}}" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{%block indexHeadScript%}{%endblock indexHeadScript%}
{%endblock headScript%}
{%block container%}
	<div class="container" id="container-div">
		<div class="row">
			<div class="col-md-2 col-xs-12 col-md-offset-1">
				<div class="left-col text-center">
					<img src="{{url_for('.static', filename='img/head.png')}}" alt="fail" class="img-circle head-png">
					<p id="personal-summary">{{my_site_config['info']['summary']}}</p>
					<div id="friend-link">
						<div class="panel panel-default">
						  <div class="panel-heading">友情链接</div>
						  <div class="panel-body">
						    <ul>
						    	{%for friend in my_site_config['friends']%}
						    		<li><a href="{{friend['link']}}">{{friend['description']}}</a></li>
						    	{%else%}
						    		<span class="text-center">虚位以待</span>
						    	{%endfor%}
						    </ul>
						  </div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-8 col-xs-12">
				<div class="right-col">{%block rightPart%}{%endblock rightPart%}</div>
				<div class="footer">
					<p class="text-right footer">powered by <a target="blank" href="http://www.google.com/recaptcha/mailhide/d?k=012HgFo4jimdYqnZox3BLV9Q==&c=m--FaB96PfMXq_ksmp-4mLovK60e6twUVn9To7XyBxc=">Zhangyu Chen</a> with <a href="http://getbootstrap.com/">Bootstrap</a></p>
				</div>
			</div>
		</div>
	</div>
	</div>
{%endblock container%}
{%block footScript%}
	{{super()}}
	<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-57563380-1', 'auto');
		  ga('send', 'pageview');

	</script>
{%endblock footScript%}
