{% extends "/public/layout.html" %}
{% block title %}list{% endblock %}
{% block css %}
    <!--<link href="../static/css/index.css" rel="stylesheet">-->
{% endblock %}
{% block main %}
 <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <h1><a class="text-success" href="{{url_for('passagelist')}}">所有文章</a></h1>
        labels:&nbsp;&nbsp;&nbsp;
        {% for tag in tags %}
        <a href="{{url_for('listbytag', tagid=tag.id)}}">{{tag.tag}}</a>&nbsp;&nbsp;&nbsp;
        {% endfor %}
        <br><br><br>
        <table class="table table-hover">
        {% for passage in passages %}
              <tr>
                  <td><a href="{{url_for('blog', passageid=passage.id)}}">{{passage.title}}</a></td>
                  <!--<td>tags:{% for tag in tags%}{{tag}}{% endfor %}</td>-->
                  <td>
                      <span class="glyphicon glyphicon-tag"></span>
                      {%for tag in passage.pata %}
                      <a href="{{url_for('listbytag', tagid=tag.id)}}">{{tag.tag}}</a>&nbsp;&nbsp;&nbsp;
                      {%endfor%}
                  </td>
                  <td><div class="text-right">最后修改时间:&nbsp;{{passage.pubdate}}</div></td>
              </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}


