<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{%if my_site_config%}
	<meta name="description" content="{{my_site_config['info']['summary'] | d('我手记我心, Zhangyu Chen的个人博客')}}">
	<meta name="keywords" content="{{my_site_config['info']['keyword'] | d('web backend')}}">
	<title>{{my_site_config['info']['title'] | d('Zhangyu Chen的个人博客')}}</title>
	{%else%}
	<meta name="description" content="我手记我心, Zhangyu Chen的个人博客">
	<meta name="keywords" content="web backend">
	<title>Zhangyu Chen的个人博客</title>
	{%endif%}
	<link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/base.css">

	<!-- <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=2858452607&debug=true" type="text/javascript" charset="utf-8"></script> -->
{%block headScript%}{%endblock headScript%}

</head>
<body>
<div id="body-container">		
{%block body%}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="flash-container">
    {% for category, message in messages %}
      <p class="flash-msg text-center {{ category }}">{{ message }}</p>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid top-nav">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{{url_for('index_module.index')}}">首页</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	{%if 'root' in session%}
	      	<li><a href="{{url_for('admin_module.index')}}">控制台</a></li>
	      	{%endif%}
	        <li><a href="{{url_for('index_module.archive')}}">归档</a></li>
	        <li><a href="{{url_for('index_module.about')}}">关于</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
			 <li>
			{%if session['username'] and session['profile_url']%}
			<a id='user-login' href="http://weibo.com/{{session['profile_url']}}">{{session['username']}}</a>
			<a id="logout" href="{{url_for('index_module.logout')}}">logout</a>
			{%else%}
			<a href="{{url_for('index_module.login')}}">微博登陆</a>
			{%endif%}
			 </li>
	        <!-- <li><a href="#"></a></li> -->
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

{%block container%}{%endblock%}

{%endblock%}
</div>
</body>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!-- <script src="/static/lib/dist/js/jquery-1.11.0.min.js"></script>
<script src="/static/lib/dist/js/bootstrap.min.js"></script> -->
<script>
$(document).ready(function(){
	$('.flash-msg').each(function(){
		$(this).fadeOut(1800);
	})
});
</script>

<!-- cdn -->

{%block footScript%}{%endblock%}
</html>
