.top-nav{
	width: 80%;
}
#user-login, #logout{
	display: inline-block;
}
.pointer, .text-link{
	cursor: pointer;
	opacity: 0.7;
}
.text-link{
	color: #285CE4;
}
.text-link:hover{
	opacity: 0.6;
	text-decoration: none;
}
.flash-msg{
	margin-bottom: 0;
	padding-top: 1em;
	padding-bottom: 1em;
}