div#left{
    display: block;
    padding-top: 100px;
}
div.comments{
    line-height: 2em;
    padding: 15px;
    background-color: #E2E4E4;
    margin-bottom: 30px;
    font-size: 1.2em;
}
div.comment{
    padding-bottom: 30px;
}
div#comment-button{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.delete{
    font-size: 0.9em;
    color: grey;
    font-style: italic;
}