{%import "module.html" as module%}
{%extends "index/layout/index.html"%}
{%block indexHeadScript%}
<link rel="stylesheet" href="{{url_for('.static', filename='css/categories.css')}}">
{%endblock indexHeadScript%}
{%block rightPart%}
<div class="passage-list">
	{%for passage in passages%}
	<div class="passage">
		<a target="blank" href="{{url_for('.passage')}}?pid={{passage.id}}" class="passage-link">{{passage.title}}</a>
		<span class="detail text-right">
			<div>
				<i class="fa fa-calendar"></i>{{module.render_time(passage.pubdate)}}
			</div>
			<div>
				<i class="fa fa-tags"></i>
				{%for tag in passage.tags%}
				<a href="{{url_for('.categories', kind=tag.tag)}}" class="tag-item">{{tag.tag}}</a>
				{%endfor%}
			</div>
		</span>
	</div>	
	{%endfor%}

</div>

{%if pagination%}
	{{module.render_pagination(pagination, '.archive')}}
{%endif%}
{%endblock rightPart%}