{%extends "index/layout/index.html"%}
{%block indexHeadScript%}
<link rel="stylesheet" href="{{url_for('.static', filename='css/categories.css')}}">
{%endblock indexHeadScript%}
{%block rightPart%}
<div class="passage-list">
	{%for passage in passages%}
	<div class="passage">
		<a target="blank" href="{{url_for('.passage')}}?pid={{passage.id}}" class="passage-link">{{passage.title}}</a>
		<span class="detail text-right">
			<div>
				<i class="fa fa-calendar"></i><span class="pubdate">{{passage.pubdate | string | truncate(10, True, end='')}}</span>
			</div>
			<div>
				<i class="fa fa-tags"></i>
				{%for tag in passage.tags%}
				<a href="{{url_for('.categories', kind=tag.tag)}}" class="tag-item">{{tag.tag}}</a>
				{%endfor%}
			</div>
		</span>
	</div>	
	{%endfor%}

</div>

{%macro render_pagination(pagination, endpoint)%}
<div class="bottom-nav text-center">
	<nav>
		<ul class="pagination">
			{%- for page in pagination.iter_pages() %}
				{%if page%}
					{%if page != pagination.page%}
						<li><a href="{{url_for(endpoint, page=page)}}">{{page}}</a></li>
					{%else%}
						<li class="active"><a href="#">{{page}}</a></li>
					{%endif%}
				{%else%}
					<li><span class="ellipsis">...</span></li>
				{%endif%}
			{%- endfor%}
		</ul>
	</nav>
</div>
{%endmacro%}
{%if pagination%}
	{{render_pagination(pagination, '.archive')}}
{%endif%}
{%endblock rightPart%}