{%extends "index/layout/index.html"%}
{%block indexHeadScript%}
	<link rel="stylesheet" href="{{url_for('.static', filename='css/index.css')}}">
{%endblock indexHeadScript%}
{%block rightPart%}
<div class="article">
	<p class="article-item pubdate">
		<i class="fa fa-calendar fa-2x"></i>
		<span class="text-warning">2014-10-10</span>
		<span class="tag-list text-right">
			<i class="fa fa-tags"></i>
			<span class="tag"><a href="#">tag</a></span>
			<span class="tag"><a href="#">tag</a></span>
		</span>
	</p>
	<a href="#" class="article-item title">Title</a>
	<p class="article-item description">
		this text for description of enery article<a href="#" title="more" class="more"><i class="fa fa-chevron-circle-right"></i></a>
	</p>
</div>

<div class="article">
	<p class="article-item pubdate">
		<i class="fa fa-calendar fa-2x"></i>
		<span class="text-warning">2014-10-10</span>
		<span class="tag-list text-right">
			<i class="fa fa-tags"></i>
			<span class="tag"><a href="#">tag</a></span>
			<span class="tag"><a href="#">tag</a></span>
		</span>
	</p>
	<a href="#" class="article-item title">Title</a>
	<p class="article-item description">
		this text for description of enery article<a href="#" title="more" class="more"><i class="fa fa-chevron-circle-right"></i></a>
	</p>
</div>

<div class="article">
	<p class="article-item pubdate">
		<i class="fa fa-calendar fa-2x"></i>
		<span class="text-warning">2014-10-10</span>
		<span class="tag-list text-right">
			<i class="fa fa-tags"></i>
			<span class="tag"><a href="#">tag</a></span>
			<span class="tag"><a href="#">tag</a></span>
		</span>
	</p>
	<a href="#" class="article-item title">Title</a>
	<p class="article-item description">
		this text for description of enery article<a href="#" title="more" class="more"><i class="fa fa-chevron-circle-right"></i></a>
	</p>
</div>

<div class="article">
	<p class="article-item pubdate">
		<i class="fa fa-calendar fa-2x"></i>
		<span class="text-warning">2014-10-10</span>
		<span class="tag-list text-right">
			<i class="fa fa-tags"></i>
			<span class="tag"><a href="#">tag</a></span>
			<span class="tag"><a href="#">tag</a></span>
		</span>
	</p>
	<a href="#" class="article-item title">Title</a>
	<p class="article-item description">
		this text for description of enery article<a href="#" title="more" class="more"><i class="fa fa-chevron-circle-right"></i></a>
	</p>
</div>

<div class="bottom-nav text-center">
	
	<nav>
	  <ul class="pagination">
	    <li class="disabled"><a href="#">&laquo;</a></li>
	    <li class="active"><a href="#">1</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">&raquo;</a></li>
	  </ul>
	</nav>

</div>

{%endblock rightPart%}