{%extends "index/layout/index.html"%}
{%block indexHeadScript%}
	<link rel="stylesheet" href="{{url_for('.static', filename='css/index.css')}}">
{%endblock indexHeadScript%}
{%block rightPart%}
{%for passage in passages%}
<div class="article">
	<p class="article-item pubdate">
		<i class="fa fa-calendar fa-2x"></i>
 			<span class="text-warning">{{passage.pubdate.strftime('%Y-%m-%d')}}</span>
	 		<span class="tag-list text-right">
			<i class="fa fa-tags"></i>
			{%for tag in passage.tags%}
			<span class="tag"><a href="{{url_for('.categories', kind=tag.tag)}}" class="text-link">{{tag.tag}}</a></span>
			{%endfor%}
		</span>
	</p>
	<a target="blank" href="{{url_for('.passage')}}?pid={{passage.id}}" class="article-item title">{{passage.title}}</a>
	<p class="article-item description">
		{{passage.description}}<a target="blank" href="{{url_for('.passage')}}?pid={{passage.id}}" title="more" class="more"><i class="fa fa-chevron-circle-right"></i></a>
	</p>
</div>
{%endfor%}

<div class="bottom-nav text-center">
	
	<nav>
	  <ul class="pager">
	    {%if page['has_previous']%}
	    <li><a id="previous" href="{{url_for('.index')+'?page='}}{{page['page']-1}}">Previous</a></li>
	    {%else%}
	    <li class="disabled"><a href="#" id="previous">Previous</a></li>
	    {%endif%}
	    {%if page['has_next']%}
	    <li><a id="next" href="{{url_for('.index')+'?page='}}{{page['page']+1}}">Next</a></li>
	    {%else%}
	    <li class="disabled"><a href="#" id="next">Next</a></li>
	    {%endif%}
	  </ul>
	</nav>

</div>

{%endblock rightPart%}