{%import "module.html" as module%}
{%extends "index/layout/index.html"%}
{%block indexHeadScript%}
<link rel="stylesheet" href="{{url_for('.static', filename='css/passage.css')}}">
<link rel="stylesheet" href="/static/lib/highlight/styles/monokai_sublime.css">
{%endblock indexHeadScript%}
{%block rightPart%}

{%macro render_username(user)%}
{%if user.is_root%}
<a href="{{url_for('index_module.about')}}" class="text-link">{{user.username}}</a>&nbsp;<span class="text-danger">(作者)</span>
{%else%}
<a href="{{user.profile_url}}" class="text-link">{{user.username}}</a>
{%endif%}
{%endmacro%}

{%macro render_votes(votes)%}
	{%if votes%}<span class="votes">({{votes}})</span>{%endif%}
{%endmacro%}

{%macro admin_view(item)%}
	<span class="action reply"><i class="fa fa-reply"></i>&nbsp;回复</span>
	<span class="action vote-up"><i class="fa fa-thumbs-o-up"></i>&nbsp;点赞{{render_votes(item.vote_ups)}}</span>
	{%if 'root' in session and session['root']%}
		{%if item.is_warning %}
			<span class="text-danger">举报次数({{item.is_warning}})</span>&nbsp;
		{%endif%}
		<span class="action delete"><i class="fa fa-trash-o"></i>&nbsp;删除</span>	
	{%else%}
		<span class="action report"><i class="fa fa-flag"></i>&nbsp;举报</span>
	{%endif%}
{%endmacro%}



<div id="passage">
	{%if passage%}
		<div id="passage-item">
			<h1>{{passage.title}}</h1>
			<div class="tag-list">
				<i class="fa fa-tags"></i>
					{%for t in passage.tags%}
						<a href="{{url_for('.categories', kind=t.tag)}}" class="tag">{{t.tag}}</a>
					{%endfor%}
			</div>
			<div id="passage-content">
				<div id="waitting"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
			</div>

			<div>Zhangyu Chen@{{module.render_time(passage.pubdate)}}</div>

			<div class="passage-link">
				
					<span id="previous">
						{%if nav['prev']%}
							上一篇&nbsp;<a href="{{url_for('.passage')}}?pid={{nav['prev'].id}}" class="noul">{{nav['prev'].title}}</a>
						{%endif%}
					</span>
				
					<span id="next">
						{%if nav['next']%}
							下一篇&nbsp;<a href="{{url_for('.passage')}}?pid={{nav['next'].id}}" class="noul">{{nav['next'].title}}</a>
						{%endif%}
					</span>
			</div>

		</div>
	{%endif%}
	<hr>
	
	<div class="comment-list">
		{%for comment in passage.comments%}
			{%if not comment.is_delete%}
				<div class="comment-item">
					<div class="profile-image">
						<img src="{{comment.user.profile_img}}">	
					</div>
					<div class="comment-session" cid="{{comment.id}}">
						{{render_username(comment.user)}}
						<div class="comment-content">{{comment.content}}</div>
						<span class="comment-time">{{module.render_time(comment.pubdate)}}</span>
						{{admin_view(comment)}}
					</div>
				</div>
				<hr>
				{%for talk in comment.talks%}
					{%if not talk.is_delete%}
						<div class="comment-item comment-item-reply">
							<div class="profile-image">
								<img src="{{talk.f_user.profile_img}}">	
							</div>
							<div class="comment-session" mode="talk" cid="{{talk.cid}}" tid="{{talk.id}}">
								{{render_username(talk.f_user)}}&nbsp;回复&nbsp;{{render_username(talk.t_user)}}
								<div class="comment-content">{{talk.content}}</div>
								<span class="comment-time">{{module.render_time(talk.pubdate)}}</span>
								{{admin_view(talk)}}
							</div>
						</div>	
						<hr>
					{%endif%}
				{%endfor%}
			{%endif%}
		{%endfor%}
		
	</div>

	<div class="comment-box">
		<div id="emoji">
			<div id="emoji-list">
				<span>[]~(￣▽￣)~*</span>
				<span>(￣ˇ￣)</span>
				<span>(￣﹏￣)</span>
				<span>(￣ε(#￣)</span>
				<span>(￣.￣)</span>
				<span>╮(￣▽￣)╭</span>
				<span>(￣▽￣)~*</span>
				<span>(⊙ˍ⊙)</span>
				<span>∑( ° △ °|||)︴</span>
				<span>(=￣ω￣=)</span>
				<span>(＞﹏＜)</span>
				<span>m( _　_ )m</span>
				<span>(oﾟωﾟo)</span>
				<span>(σ‘・д･)σ</span>
				<span>(。・ˍ・。)</span>
				<span>(Θ３Θ)</span>
				<span>╰（￣▽￣）╭</span>
				<span>→_→</span>
				<span>←_←</span>
			</div>
			<div class="arrow-down"></div>
		</div>
		<div class="box-head"><i class="fa fa-smile-o emoji-toggle"></i></div>
		<div class="box-body">
			<textarea id="comment-input" rows="6"></textarea>
		</div>
		<div class="text-right">
			<button class="btn btn-success" id="comment">发布评论</button>	
		</div>
	</div>


</div>

<div class="modal fade" id="reply-dialog" tabindex="-1" role="dialog" aria-labelledby="reply-box" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="reply-box"></h4>
      </div>
      <div class="modal-body">
      	  <textarea id="reply-input" rows="10" class="form-control"></textarea>
          <p class="text-danger" id="msg"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="submit-btn">提交</button>
      </div>
    </div>
  </div>
</div>

{%endblock rightPart%}
{%block footScript%}
{{super()}}
	<script src="/static/lib/marked.js"></script>
	<script src="/static/lib/highlight/highlight.pack.js"></script>
	<script src="{{url_for('.static', filename='js/passage.js')}}"></script>
	{%if 'root' in session and session['root']%}
	<script src="{{url_for('.static', filename='js/admin.js')}}"></script>
	{%endif%}
{%endblock%}