{% extends "/public/layout.html" %}
{% block title %}manage{% endblock %}
{% block css %}
    <!--<link href="../static/css/index.css" rel="stylesheet">-->
{% endblock %}
{% block main %}
 <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <h1>
        <a href="{{url_for('uploadpassage')}}"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add blog</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{url_for('managetag')}}"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Manage tags</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Check reply</a>
    </h1>
        <table class="table table-hover">
        {% for passage in passages %}
              <tr>
                  <td><a href="{{url_for('updatepassage', passageid=passage[0])}}">{{passage[1]}}</a></td>
                  <!--<td>tags:{% for tag in tags%}{{tag}}{% endfor %}</td>-->
                  <td> <span class="glyphicon glyphicon-tag"></span> {%for tag in passage[4] %}{{tag}}&nbsp;&nbsp;&nbsp;{%endfor%}</td>
                  <td><a href="{{url_for('checkreply', passageid=passage[0])}}"><span class="glyphicon glyphicon-envelope"></span></a></td>
                  <td>
                      <div class="text-right">
                          {% if passage[3] %}
                           发布状态&nbsp;<a href="{{url_for('display', passageid=passage[0], flag=0)}}"><span class="glyphicon glyphicon-eye-close"></span></a>&nbsp;
                          {% else %}
                           草稿状态&nbsp;<a href="{{url_for('display', passageid=passage[0], flag=1)}}"><span class="glyphicon glyphicon-eye-open"></span></a>&nbsp;
                          {% endif %}
                          &nbsp;&nbsp;最后修改时间:&nbsp;{{passage[2]}}&nbsp;&nbsp;
                          <a href="{{url_for('deletepassage', passageid=passage[0])}}" onclick="return confirmdelete()"><span class="glyphicon glyphicon-trash"></span></a>&nbsp;
                      </div>
                  </td>
              </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function confirmdelete() {
        return confirm("确认删除？");
    }
</script>
{% endblock %}