{% extends "/public/layout.html" %}
{% block title %}upload{% endblock %}
{% block css %}
    <link href="../../static/css/upload.css" rel="stylesheet">
{% endblock %}
{% block main %}
 <div class="row">
    <div class="col-md-10 col-md-offset-1">
{% if error %}

        <h1>{{error}}</h1>

{% else %}

<h1>Hello, admin:{{name}}</h1>
    {% if uploadpassage %}

        <form action="{{url_for('upload')}}" method="POST" role="form">
            <div class="form-group">
                <h4>
                <strong>lable:</strong>&nbsp;&nbsp;
                {% for tag in tags %}
                <label class="checkbox-inline"><input type="checkbox" name="{{tag[2]}}" value="{{tag[0]}}">{{tag[1]}}</label>
                {% endfor %}
                </h4>
            </div>
            <br>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="title" name="title">
            </div>
            <br>
            <div class="form-group">
                <textarea class="form-control" rows="20" name="content"></textarea>
            </div>
            <div class="text-right" id="submit">
                <input type="hidden" name="sum" value="{{sums}}">
                <button type="submit" class="btn btn-default">保存</button>
            </div>
        </form>

    {% else %}

        <form action="{{url_for('update')}}" method="POST" role="form">
            <div class="form-group">
                <h4>
                <strong>lable:</strong>&nbsp;&nbsp;
                {% for tag in tags %}
                <label class="checkbox-inline"><input type="checkbox" name="{{tag[2]}}" value="{{tag[0]}}">{{tag[1]}}</label>
                {% endfor %}
                </h4>
            </div>
            <br>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="title" name="title" value="{{passage.title}}">
            </div>
            <br>
            <div class="form-group">
                <textarea class="form-control" rows="20" name="content">{{passage.content}}</textarea>
            </div>
            <div class="row" id="submit">
                <div class="col-md-6 text-left">
                    <a href="{{url_for('deletepassage', passageid=passage.id)}}" class="btn btn-danger" role="button">DELETE</a>
                </div>
                <div class="col-md-6 text-right">
                    <input type="hidden" name="id" value="{{passage.id}}">
                    <input type="hidden" name="sum" value="{{sums}}">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>

    {% endif %}

{% endif %}
    </div>
 </div>
{% endblock %}


